.App {
  text-align: center;
  background-color: white;
}

.App-header {
  align-items: center;
}

.App-selector {
  align-items: center;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

.App-button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid blue;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:bold;
  color: black;
  text-align:center;
  transition: all 0.2s;
}

.App-button:hover{
  color: white;
  background-color: green;
}

@media all and (max-width:30em) {
  .App-button {
    display:block;
    margin:0.4em auto;
  }
}

.App-main {
  border: 1px solid black;
}

.App-hilight {
  border: 2px solid red;
  padding: 0.3em;
}
.App-upcoming {
  color: black;
}